body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.normal {
  background: #ccc;
  color: #000;
}
.active {
  background: #fbfb09;
  font-weight: 600;
  text-transform: uppercase;
}

.news-card {
  height: 24rem;
  background: #EDEDEF;
  border: solid white;
  overflow: scroll;
}

.content {
  text-align: left;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
}

.card-floater {
  text-align: center;
}

.card-holder {
  overflow: scroll;
  height: 20%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-page {
  margin-left: 2rem;
  margin-right: 2rem;
}
