body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.normal {
  background: #ccc;
  color: #000;
}
.active {
  background: #fbfb09;
  font-weight: 600;
  text-transform: uppercase;
}

.news-card {
  height: 24rem;
  background: #EDEDEF;
  border: solid white;
  overflow: scroll;
}

.content {
  text-align: left;
  margin: 1%;
  padding: 5%
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;

}

.card-floater {
  text-align: center;
}

.card-holder {
  overflow: scroll;
  height: 20%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.buttons-div {
  text-align: center;
}

/* .charts {
  text-align: center;
  width: 85%;
  height: 85%;
  margin-left: 7rem;
} */


.head {
  width: 95%;
  height: 50%;
  background-color: black;
  position: absolute;
  display: flex;
}

.pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;         /* Turns a square into a circle   */
  background-color: #FF5722;  /* Sets color to Orange           */

  animation: bounce 0.5s cubic-bezier(.5,0.05,1,.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 200px, 0); }
}
