body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.normal {
  background: #ccc;
  color: #000;
}
.active {
  background: #fbfb09;
  font-weight: 600;
  text-transform: uppercase;
}

.news-card {
  height: 24rem;
  background: #EDEDEF;
  border: solid white;
  overflow: scroll;
}

.content {
  text-align: left;
  margin: 1%;
  padding: 5%
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;

}

.card-floater {
  text-align: center;
}

.card-holder {
  overflow: scroll;
  height: 20%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-page {
  margin-left: 2rem;
  margin-right: 2rem;
}

.buttons-div {
  text-align: center;
}

.title {
  margin-top: 4%;
  margin-left: 14.9%;
  font-size: 120px;
  color: white;
  font-family: "Rokkitt", serif
}

.head {
  width: 95%;
  height: 50%;
  background-color: gray;
  position: absolute;
  display: flex;
  text-align: center;
}


.fox {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}


.bbc {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: moveX 4.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  -moz-animation: moveX 4.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  -o-animation: moveX 4.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  animation: moveX 4.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
}

.abc {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: moveX 3.85s linear 0s infinite alternate, moveY 1.9s linear 0s infinite alternate;
  -moz-animation: moveX 3.85s linear 0s infinite alternate, moveY 1.9s linear 0s infinite alternate;
  -o-animation: moveX 3.85s linear 0s infinite alternate, moveY 1.9s linear 0s infinite alternate;
  animation: moveX 3.85s linear 0s infinite alternate, moveY 1.9s linear 0s infinite alternate;
}

.nyt {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: moveX 2.69s linear 0s infinite alternate, moveY 2.4s linear 0s infinite alternate;
  -moz-animation: moveX 2.69s linear 0s infinite alternate, moveY 2.4s linear 0s infinite alternate;
  -o-animation: moveX 2.69s linear 0s infinite alternate, moveY 2.4s linear 0s infinite alternate;
  animation: moveX 2.69s linear 0s infinite alternate, moveY 2.4s linear 0s infinite alternate;
}

.cnn {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: moveX 2.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
  -moz-animation: moveX 2.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
  -o-animation: moveX 2.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
  animation: moveX 2.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 92%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 92%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 92%; }
}
@keyframes moveX {
  from { left: 0; } to { left: 92%; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 218px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 218px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 218px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 218px; }
}
